l10n_hr_vat/wizard/shema/URA/ObrazacURAtipovi-v2-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://e-porezna.porezna-uprava.hr/sheme/zahtjevi/ObrazacURA/v2-0" xmlns:meta="http://e-porezna.porezna-uprava.hr/sheme/Metapodaci/v2-0" xmlns:ispostave="http://e-porezna.porezna-uprava.hr/sheme/temeljno/SifrarnikIspostave/v2-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:temeljni="http://e-porezna.porezna-uprava.hr/sheme/TemeljniTipovi/v2-1" targetNamespace="http://e-porezna.porezna-uprava.hr/sheme/zahtjevi/ObrazacURA/v2-0" elementFormDefault="qualified" version="2.0" id="ObrazacURAtipovi-v2-0" xml:lang="hr-HR">
	<xsd:annotation>
		<xsd:documentation>XML shema sadrži tipove koji definiraju sadržaj U-RA obrasca</xsd:documentation>
	</xsd:annotation>
	<xsd:import namespace="http://e-porezna.porezna-uprava.hr/sheme/TemeljniTipovi/v2-1" schemaLocation="TemeljniTipovi-v2-1.xsd"/>
	<xsd:import namespace="http://e-porezna.porezna-uprava.hr/sheme/Metapodaci/v2-0" schemaLocation="ObrazacURAmetapodaci-v2-0.xsd"/>
	<xsd:complexType name="sObrazacURA">
		<xsd:annotation>
			<xsd:documentation>Struktura U-RA obrasca</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="meta:Metapodaci"/>
			<xsd:element name="Zaglavlje" type="sZaglavlje">
				<xsd:annotation>
					<xsd:documentation>Zaglavlje obrasca</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Tijelo" type="sTijelo">
				<xsd:annotation>
					<xsd:documentation>Tijelo obrasca</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="verzijaSheme" use="required" fixed="2.0"/>
	</xsd:complexType>
	<xsd:complexType name="sZaglavlje">
		<xsd:annotation>
			<xsd:documentation>Zaglavlje obrasca</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Razdoblje" type="sRazdoblje">
				<xsd:annotation>
					<xsd:documentation>Razdoblje za koji se podnosi obrazac</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Obveznik" type="sPorezniObveznik">
				<xsd:annotation>
					<xsd:documentation>Podaci o poslovnom subjektu za koji se podnosi obrazac</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ObracunSastavio" type="sIspunjavatelj">
				<xsd:annotation>
					<xsd:documentation>Podaci o osobi koja podnosi obrazac</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="sTijelo">
		<xsd:annotation>
			<xsd:documentation>Tijelo obrasca</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:annotation>
				<xsd:documentation>Knjige primljenih računa (ulaznih računa) - iznosi su u kunama i lipama</xsd:documentation>
			</xsd:annotation>
			<xsd:element name="Racuni" type="sRacuniList"/>
			<xsd:element name="Ukupno" type="sRacuniUkupno"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="sRazdoblje">
		<xsd:annotation>
			<xsd:documentation>Struktura razdoblja (vremenski period)</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="DatumOd" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>Početni datum</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DatumDo" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>Završni datum</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="sAdresa">
		<xsd:annotation>
			<xsd:documentation>Adresa</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Mjesto" type="temeljni:tOgraniceniZnakovniNizMin2Max128">
				<xsd:annotation>
					<xsd:documentation>Naziv mjesta</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Ulica" type="temeljni:tOgraniceniZnakovniNizMin2Max128">
				<xsd:annotation>
					<xsd:documentation>Naziv ulice</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Broj" type="temeljni:tAdresaBroj">
				<xsd:annotation>
					<xsd:documentation>Kućni broj</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DodatakKucnomBroju" type="temeljni:tAdresaDodatakBroju" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Dodatak kućnom broju (opcionalno)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="sPorezniObveznik">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice>
				<xsd:element name="OIB" type="temeljni:tOIB">
					<xsd:annotation>
						<xsd:documentation>OIB poreznog obveznika</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="PDVID" type="temeljni:tOIB">
					<xsd:annotation>
						<xsd:documentation>PDV identifikacijski broj poreznog obveznika</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:choice>
				<xsd:element name="Naziv" type="temeljni:tOgraniceniZnakovniNizMin2Max128">
					<xsd:annotation>
						<xsd:documentation>Naziv obveznika</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:sequence>
					<xsd:element name="Ime" type="temeljni:tOgraniceniZnakovniNizMin2Max128">
						<xsd:annotation>
							<xsd:documentation>Ime obveznika</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Prezime" type="temeljni:tOgraniceniZnakovniNizMin2Max128">
						<xsd:annotation>
							<xsd:documentation>Prezime obveznika</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:choice>
			<xsd:element name="Adresa" type="sAdresa"/>
			<xsd:element name="PodrucjeDjelatnosti" type="tPodrucjeDjelatnosti" minOccurs="0"/>
			<xsd:element name="SifraDjelatnosti" type="temeljni:tSifraDjelatnosti"  minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="sPoslovniSubjekt">
		<xsd:annotation>
			<xsd:documentation>Podaci o poslovnom subjektu</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="OIB" type="temeljni:tOIB">
				<xsd:annotation>
					<xsd:documentation>OIB poslovnog subjekta</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:choice>
				<xsd:element name="Naziv" type="temeljni:tOgraniceniZnakovniNizMin2Max128">
					<xsd:annotation>
						<xsd:documentation>Naziv poslovnog subjekta</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:sequence>
					<xsd:element name="Ime" type="temeljni:tOgraniceniZnakovniNizMin2Max128">
						<xsd:annotation>
							<xsd:documentation>Ime osobe</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Prezime" type="temeljni:tOgraniceniZnakovniNizMin2Max128">
						<xsd:annotation>
							<xsd:documentation>Prezime osobe</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="sIspunjavatelj">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Ime" type="temeljni:tOgraniceniZnakovniNizMin2Max128">
				<xsd:annotation>
					<xsd:documentation>Ime osobe</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Prezime" type="temeljni:tOgraniceniZnakovniNizMin2Max128">
				<xsd:annotation>
					<xsd:documentation>Prezime osobe</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PoslovniSubjekt" type="sPoslovniSubjekt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
            Poslovni subjekt kod kojeg je zaposlena osoba koja je sastavila obrazac
            (samo ako je različit od poslovnog subjekta za koji se podnosi obrazac)
          </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="tPodrucjeDjelatnosti">
		<xsd:annotation>
			<xsd:documentation>Područje djelatnosti - dozvoljene vrijednosti</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="1"/>
			<xsd:pattern value="[A-U]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tTipIdBroja">
		<xsd:annotation>
			<xsd:documentation>Tip identifikacijskog broja obveznika: 1 OIB, 2 PDV ID broj</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:int">
			<xsd:enumeration value="1"/>
			<xsd:enumeration value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tOgraniceniZnakovniNizMin0Max128">
		<xsd:annotation>
			<xsd:documentation>Znakovni niz sa minimum 0 i maksimum 128 znakova</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="128"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tOgraniceniZnakovniNizMin0Max200">
		<xsd:annotation>
			<xsd:documentation>Znakovni niz sa minimum 0 i maksimum 200 znakova</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="200"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tAdresaBroj">
		<xsd:annotation>
			<xsd:documentation>Kućni broj za adresu, string ograničen na maksimalno 4 znaka</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="sRacuniList">
		<xsd:sequence>
			<xsd:element name="R" type="sRacun" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="sRacun">
		<xsd:sequence>
			<xsd:element name="R1">
				<xsd:annotation>
					<xsd:documentation>Redni broj računa</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:nonNegativeInteger">
						<xsd:minInclusive value="1"/>
						<xsd:maxInclusive value="999999999"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="R2">
				<xsd:annotation>
					<xsd:documentation>Broj računa</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="64"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="R3" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>Datum računa</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="R4" type="tOgraniceniZnakovniNizMin0Max128">
				<xsd:annotation>
					<xsd:documentation>Naziv ili ime i prezime isporučitelja</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="R5" type="tOgraniceniZnakovniNizMin0Max200">
				<xsd:annotation>
					<xsd:documentation>Sjedište/prebivalište ili uobičajeno boravište isporučitelja</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="R6" type="tTipIdBroja">
				<xsd:annotation>
					<xsd:documentation>Tip identifikacijskog broja isporučitelja</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="R7" type="temeljni:tOIB">
				<xsd:annotation>
					<xsd:documentation>PDV ID broj (bez oznake države) ili OIB</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
      <xsd:element name="R19" type="temeljni:tDecimal15-2">
				<xsd:annotation>
					<xsd:documentation>Porezna osnovica - 0%</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="R8" type="temeljni:tDecimal15-2">
				<xsd:annotation>
					<xsd:documentation>Porezna osnovica - 5%</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="R9" type="temeljni:tDecimal15-2">
				<xsd:annotation>
					<xsd:documentation>Porezna osnovica - 13%</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="R10" type="temeljni:tDecimal15-2">
				<xsd:annotation>
					<xsd:documentation>Porezna osnovica - 25%</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="R11" type="temeljni:tDecimal15-2">
				<xsd:annotation>
					<xsd:documentation>Ukupni iznos računa s PDV-om</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="R12" type="temeljni:tDecimal15-2">
				<xsd:annotation>
					<xsd:documentation>Ukupni pretporez</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="R13" type="temeljni:tDecimal15-2">
				<xsd:annotation>
					<xsd:documentation>Pretporez - 5% (može se odbiti)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="R14" type="temeljni:tDecimal15-2">
				<xsd:annotation>
					<xsd:documentation>Pretporez - 5% (ne može se odbiti)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="R15" type="temeljni:tDecimal15-2">
				<xsd:annotation>
					<xsd:documentation>Pretporez - 13% (može se odbiti)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="R16" type="temeljni:tDecimal15-2">
				<xsd:annotation>
					<xsd:documentation>Pretporez - 13% (ne može se odbiti)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="R17" type="temeljni:tDecimal15-2">
				<xsd:annotation>
					<xsd:documentation>Pretporez - 25% (može se odbiti)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="R18" type="temeljni:tDecimal15-2">
				<xsd:annotation>
					<xsd:documentation>Pretporez - 25% (ne može se odbiti)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="sRacuniUkupno">
		<xsd:sequence>
      <xsd:element name="U19" type="temeljni:tDecimal15-2">
				<xsd:annotation>
					<xsd:documentation>Porezna osnovica - 0% - ukupno po računima</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="U8" type="temeljni:tDecimal15-2">
				<xsd:annotation>
					<xsd:documentation>Porezna osnovica - 5% - ukupno po računima</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="U9" type="temeljni:tDecimal15-2">
				<xsd:annotation>
					<xsd:documentation>Porezna osnovica - 13% - ukupno po računima</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="U10" type="temeljni:tDecimal15-2">
				<xsd:annotation>
					<xsd:documentation>Porezna osnovica - 25% - ukupno po računima</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="U11" type="temeljni:tDecimal15-2">
				<xsd:annotation>
					<xsd:documentation>Ukupni iznos računa s PDV-om - ukupno po računima</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="U12" type="temeljni:tDecimal15-2">
				<xsd:annotation>
					<xsd:documentation>Ukupni pretporez - ukupno po računima</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="U13" type="temeljni:tDecimal15-2">
				<xsd:annotation>
					<xsd:documentation>Pretporez - 5% (može se odbiti) - ukupno po računima</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="U14" type="temeljni:tDecimal15-2">
				<xsd:annotation>
					<xsd:documentation>Pretporez - 5% (ne može se odbiti) - ukupno po računima</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="U15" type="temeljni:tDecimal15-2">
				<xsd:annotation>
					<xsd:documentation>Pretporez - 13% (može se odbiti) - ukupno po računima</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="U16" type="temeljni:tDecimal15-2">
				<xsd:annotation>
					<xsd:documentation>Pretporez - 13% (ne može se odbiti) - ukupno po računima</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="U17" type="temeljni:tDecimal15-2">
				<xsd:annotation>
					<xsd:documentation>Pretporez - 25% (može se odbiti) - ukupno po računima</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="U18" type="temeljni:tDecimal15-2">
				<xsd:annotation>
					<xsd:documentation>Pretporez - 25% (ne može se odbiti) - ukupno po računima</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
