_unported/l10n_hr_vat/wizard/shema/ZP/ObrazacZPtipovi-v1-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://e-porezna.porezna-uprava.hr/sheme/zahtjevi/ObrazacZP/v1-0" xmlns:meta="http://e-porezna.porezna-uprava.hr/sheme/Metapodaci/v2-0" xmlns:ispostave="http://e-porezna.porezna-uprava.hr/sheme/temeljno/SifrarnikIspostave/v2-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:temeljni="http://e-porezna.porezna-uprava.hr/sheme/TemeljniTipovi/v2-1" targetNamespace="http://e-porezna.porezna-uprava.hr/sheme/zahtjevi/ObrazacZP/v1-0" elementFormDefault="qualified" version="1.0" id="ObrazacZPtipovi-v1-0" xml:lang="hr-HR">
	<xsd:annotation>
		<xsd:documentation>XML shema sadrži tipove koji definiraju sadržaj ZP obrasca</xsd:documentation>
	</xsd:annotation>
	<xsd:import namespace="http://e-porezna.porezna-uprava.hr/sheme/TemeljniTipovi/v2-1" schemaLocation="TemeljniTipovi-v2-1.xsd"/>
	<xsd:import namespace="http://e-porezna.porezna-uprava.hr/sheme/Metapodaci/v2-0" schemaLocation="ObrazacZPmetapodaci-v1-0.xsd"/>
	<xsd:complexType name="sObrazacZP">
		<xsd:annotation>
			<xsd:documentation>Struktura ZP obrasca</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="meta:Metapodaci"/>
			<xsd:element name="Zaglavlje" type="sZaglavlje">
				<xsd:annotation>
					<xsd:documentation>Zaglavlje obrasca</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Tijelo" type="sTijelo">
				<xsd:annotation>
					<xsd:documentation>Tijelo obrasca</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="verzijaSheme" use="required" fixed="1.0"/>
	</xsd:complexType>
	<xsd:complexType name="sZaglavlje">
		<xsd:annotation>
			<xsd:documentation>Zaglavlje obrasca</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Razdoblje" type="sRazdoblje">
				<xsd:annotation>
					<xsd:documentation>Razdoblje za koji se podnosi obrazac</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Obveznik" type="sPoslovniSubjektProsireno">
				<xsd:annotation>
					<xsd:documentation>Podaci o poslovnom subjektu za koji se podnosi obrazac</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ObracunSastavio" type="sObracunSastavio">
				<xsd:annotation>
					<xsd:documentation>Podaci o osobi koja je sastavila obrazac</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Ispostava" type="temeljni:tIspostava">
				<xsd:annotation>
					<xsd:documentation>Ispostava u kojoj se podnosi obrazac</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Zastupnik" type="sZastupnik" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Podaci o poreznom zastupniku</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="sTijelo">
		<xsd:annotation>
			<xsd:documentation>Tijelo obrasca</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Isporuke">
				<xsd:annotation>
					<xsd:documentation>Podaci o isporukama dobara i usluga u druge države članice Europske unije</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Isporuka" type="sIsporuka" minOccurs="0" maxOccurs="5000"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="IsporukeUkupno" type="sIsporukeUkupno">
				<xsd:annotation>
					<xsd:documentation>Podaci o ukupnim vrijednostima pojedinih vrsta isporuka</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="sPoslovniSubjekt">
		<xsd:annotation>
			<xsd:documentation>Podaci o poslovnom subjektu</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice>
				<xsd:sequence>
					<xsd:element name="Ime" type="temeljni:tOgraniceniZnakovniNizMin2Max128">
						<xsd:annotation>
							<xsd:documentation>Ime ili naziv poslovnog subjekta</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Prezime" type="temeljni:tOgraniceniZnakovniNizMin2Max128">
						<xsd:annotation>
							<xsd:documentation>Prezime poslovnog subjekta</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
				<xsd:element name="Naziv" type="temeljni:tOgraniceniZnakovniNizMin2Max128">
					<xsd:annotation>
						<xsd:documentation>Naziv poslovnog subjekta</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:element name="OIB" type="temeljni:tOIB">
				<xsd:annotation>
					<xsd:documentation>OIB poslovnog subjekta</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="sAdresa">
		<xsd:annotation>
			<xsd:documentation>Adresa</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Mjesto" type="temeljni:tOgraniceniZnakovniNizMin2Max128">
				<xsd:annotation>
					<xsd:documentation>Naziv mjesta</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Ulica" type="temeljni:tOgraniceniZnakovniNizMin2Max128">
				<xsd:annotation>
					<xsd:documentation>Naziv ulice</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Broj" type="temeljni:tAdresaBroj">
				<xsd:annotation>
					<xsd:documentation>Kućni broj</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="sObracunSastavio">
		<xsd:annotation>
			<xsd:documentation>Podaci o osobi koja je sastavila obrazac</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Ime" type="temeljni:tOgraniceniZnakovniNizMin2Max128">
				<xsd:annotation>
					<xsd:documentation>Ime osobe koja je sastavila obrazac</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Prezime" type="temeljni:tOgraniceniZnakovniNizMin2Max128">
				<xsd:annotation>
					<xsd:documentation>Prezime osobe koja je sastavila obrazac</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Telefon" type="temeljni:tBrojTelefona" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Broj telefona osobe koja je sastavila obrazac</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Fax" type="temeljni:tBrojTelefona" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Fax osobe koja je sastavila obrazac</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Email" type="temeljni:tEmail" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Mail osobe koja je sastavila obrazac</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="sRazdoblje">
		<xsd:annotation>
			<xsd:documentation>Struktura razdoblja (vremenski period)</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="DatumOd" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>Početni datum</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DatumDo" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>Završni datum</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="sIsporuka">
		<xsd:annotation>
			<xsd:documentation>Isporuka, sadrži podatke o vrijednostima isporuka za jednog primatelja</xsd:documentation>
		</xsd:annotation>		
		<xsd:sequence>
			<xsd:element name="RedBr" type="xsd:positiveInteger">
				<xsd:annotation>
					<xsd:documentation>Redni broj primatelja</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="KodDrzave" type="tKodDrzave">
				<xsd:annotation>
					<xsd:documentation>ISO 3166-1 alpha-2 kod države primatelja</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PDVID" type="tPDVID">
				<xsd:annotation>
					<xsd:documentation>PDV identifikacijski broj primatelja (VAT IN) bez koda države</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="I1" type="temeljni:tDecimal15-2">
				<xsd:annotation>
					<xsd:documentation>Vrijednost isporuke dobara (u kunama i lipama)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="I2" type="temeljni:tDecimal15-2">
				<xsd:annotation>
					<xsd:documentation>Vrijednost isporuke dobara u postupcima 42 i 63 (u kunama i lipama)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="I3" type="temeljni:tDecimal15-2">
				<xsd:annotation>
					<xsd:documentation>Vrijednost isporuke dobara u okviru trostranog posla (u kunama i lipama)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="I4" type="temeljni:tDecimal15-2">
				<xsd:annotation>
					<xsd:documentation>Vrijednost obavljenih usluga (u kunama i lipama)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="sIsporukeUkupno">
		<xsd:annotation>
			<xsd:documentation>Sadrži sumarne podatke o isporukama poslovnog subjekta prema svim primateljima</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="I1" type="temeljni:tDecimal15-2">
				<xsd:annotation>
					<xsd:documentation>Ukupna vrijednost isporuka dobara (u kunama i lipama)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="I2" type="temeljni:tDecimal15-2">
				<xsd:annotation>
					<xsd:documentation>Ukupna vrijednost isporuka dobara u postupcima 42 i 63 (u kunama i lipama)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="I3" type="temeljni:tDecimal15-2">
				<xsd:annotation>
					<xsd:documentation>Ukupna vrijednost isporuka dobara u okviru trostranog posla (u kunama i lipama)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="I4" type="temeljni:tDecimal15-2">
				<xsd:annotation>
					<xsd:documentation>Ukupna vrijednost obavljenih usluga (u kunama i lipama)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="sPoslovniSubjektProsireno">
		<xsd:annotation>
			<xsd:documentation>Podaci o poslovnom subjektu, prošireno s adresom</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice>
				<xsd:sequence>
					<xsd:element name="Ime" type="temeljni:tOgraniceniZnakovniNizMin2Max128">
						<xsd:annotation>
							<xsd:documentation>Ime poslovnog subjekta</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Prezime" type="temeljni:tOgraniceniZnakovniNizMin2Max128">
						<xsd:annotation>
							<xsd:documentation>Prezime poslovnog subjekta</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
				<xsd:element name="Naziv" type="temeljni:tOgraniceniZnakovniNizMin2Max128">
					<xsd:annotation>
						<xsd:documentation>Naziv poslovnog subjekta</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:element name="OIB" type="temeljni:tOIB">
				<xsd:annotation>
					<xsd:documentation>OIB poslovnog subjekta</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Adresa" type="sAdresa"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="sZastupnik">
		<xsd:annotation>
			<xsd:documentation>Podaci o poreznom zastupniku</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>			
			<xsd:element name="OIB" type="temeljni:tOIB">
				<xsd:annotation>
					<xsd:documentation>OIB poreznog zastupnika</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="tKodDrzave">
		<xsd:annotation>
			<xsd:documentation>ISO 3166-1 alpha-2 kod država EU</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="AT"/>
			<xsd:enumeration value="BE"/>
			<xsd:enumeration value="BG"/>
			<xsd:enumeration value="CY"/>
			<xsd:enumeration value="CZ"/>
			<xsd:enumeration value="DE"/>
			<xsd:enumeration value="DK"/>
			<xsd:enumeration value="EE"/>
			<xsd:enumeration value="EL"/>
			<xsd:enumeration value="ES"/>
			<xsd:enumeration value="FI"/>
			<xsd:enumeration value="FR"/>
			<xsd:enumeration value="GB"/>			
			<xsd:enumeration value="HU"/>
			<xsd:enumeration value="IE"/>
			<xsd:enumeration value="IT"/>
			<xsd:enumeration value="LT"/>
			<xsd:enumeration value="LU"/>
			<xsd:enumeration value="LV"/>
			<xsd:enumeration value="MT"/>
			<xsd:enumeration value="NL"/>
			<xsd:enumeration value="PL"/>
			<xsd:enumeration value="PT"/>
			<xsd:enumeration value="RO"/>
			<xsd:enumeration value="SE"/>
			<xsd:enumeration value="SI"/>
			<xsd:enumeration value="SK"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tPDVID">
		<xsd:restriction base="xsd:string">
			<xsd:annotation>
				<xsd:documentation>Identifikacijski broj poreza na dodanu vrijednost (VAT IN)</xsd:documentation>
			</xsd:annotation>
			<xsd:maxLength value="12"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
