l10n_hr_vat/wizard/shema/PDV2023/ObrazacPDVtipovi-v10-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://e-porezna.porezna-uprava.hr/sheme/zahtjevi/ObrazacPDV/v10-0" xmlns:meta="http://e-porezna.porezna-uprava.hr/sheme/Metapodaci/v2-0" xmlns:ispostave="http://e-porezna.porezna-uprava.hr/sheme/temeljno/SifrarnikIspostave/v2-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:temeljni="http://e-porezna.porezna-uprava.hr/sheme/TemeljniTipovi/v2-1" targetNamespace="http://e-porezna.porezna-uprava.hr/sheme/zahtjevi/ObrazacPDV/v10-0" elementFormDefault="qualified" version="10.0" id="ObrazacPDVtipovi-v10-0" xml:lang="hr-HR">
	<xsd:annotation>
		<xsd:documentation>XML shema sadrži tipove koji definiraju sadržaj PDV obrasca</xsd:documentation>
	</xsd:annotation>
	<xsd:import namespace="http://e-porezna.porezna-uprava.hr/sheme/TemeljniTipovi/v2-1" schemaLocation="TemeljniTipovi-v2-1.xsd"/>
	<xsd:import namespace="http://e-porezna.porezna-uprava.hr/sheme/Metapodaci/v2-0" schemaLocation="ObrazacPDVmetapodaci-v10-0.xsd"/>
	<xsd:complexType name="sObrazacPDV">
		<xsd:annotation>
			<xsd:documentation>Struktura PDV obrasca</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="meta:Metapodaci"/>
			<xsd:element name="Zaglavlje" type="sZaglavlje">
				<xsd:annotation>
					<xsd:documentation>Zaglavlje obrasca</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Tijelo" type="sTijelo">
				<xsd:annotation>
					<xsd:documentation>Tijelo obrasca</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="verzijaSheme" use="required" fixed="10.0"/>
	</xsd:complexType>
	<xsd:complexType name="sZaglavlje">
		<xsd:annotation>
			<xsd:documentation>Zaglavlje obrasca</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Razdoblje" type="sRazdoblje">
				<xsd:annotation>
					<xsd:documentation>Razdoblje za koji se podnosi obrazac</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Obveznik" type="sPoslovniSubjektProsireno">
				<xsd:annotation>
					<xsd:documentation>Podaci o poslovnom subjektu za koji se podnosi obrazac</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ObracunSastavio" type="sObracunSastavio">
				<xsd:annotation>
					<xsd:documentation>Podaci o osobi koja je sastavila obrazac</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Ispostava" type="temeljni:tIspostava">
				<xsd:annotation>
					<xsd:documentation>Ispostava u kojoj se podnosi obrazac</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Napomena" type="tNapomena" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Napomena (maks. 500 znakova)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Zastupnik" type="sZastupnik" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Podaci o poreznom zastupniku</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="sTijelo">
		<xsd:annotation>
			<xsd:documentation>Tijelo obrasca</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Podatak000" type="temeljni:tDecimal15-2"/>
			<xsd:element name="Podatak100" type="temeljni:tDecimal15-2"/>
			<xsd:element name="Podatak101" type="temeljni:tDecimal15-2"/>
			<xsd:element name="Podatak102" type="temeljni:tDecimal15-2"/>
			<xsd:element name="Podatak103" type="temeljni:tDecimal15-2"/>
			<xsd:element name="Podatak104" type="temeljni:tDecimal15-2"/>
			<xsd:element name="Podatak105" type="temeljni:tDecimal15-2"/>
			<xsd:element name="Podatak106" type="temeljni:tDecimal15-2"/>
			<xsd:element name="Podatak107" type="temeljni:tDecimal15-2"/>
			<xsd:element name="Podatak108" type="temeljni:tDecimal15-2"/>
			<xsd:element name="Podatak109" type="temeljni:tDecimal15-2"/>
			<xsd:element name="Podatak110" type="temeljni:tDecimal15-2"/>
      <xsd:element name="Podatak111" type="temeljni:tDecimal15-2"/>
			<xsd:element name="Podatak200" type="sIsporuka"/>
			<xsd:element name="Podatak201" type="sIsporuka"/>
			<xsd:element name="Podatak202" type="sIsporuka"/>
			<xsd:element name="Podatak203" type="sIsporuka"/>
			<xsd:element name="Podatak204" type="sIsporuka"/>
			<xsd:element name="Podatak205" type="sIsporuka"/>
			<xsd:element name="Podatak206" type="sIsporuka"/>
			<xsd:element name="Podatak207" type="sIsporuka"/>
			<xsd:element name="Podatak208" type="sIsporuka"/>
			<xsd:element name="Podatak209" type="sIsporuka"/>
			<xsd:element name="Podatak210" type="sIsporuka"/>
			<xsd:element name="Podatak211" type="sIsporuka"/>
			<xsd:element name="Podatak212" type="sIsporuka"/>
			<xsd:element name="Podatak213" type="sIsporuka"/>
			<xsd:element name="Podatak214" type="sIsporuka"/>
			<xsd:element name="Podatak215" type="sIsporuka"/>
			<xsd:element name="Podatak300" type="sIsporuka"/>
			<xsd:element name="Podatak301" type="sIsporuka"/>
			<xsd:element name="Podatak302" type="sIsporuka"/>
			<xsd:element name="Podatak303" type="sIsporuka"/>
			<xsd:element name="Podatak304" type="sIsporuka"/>
			<xsd:element name="Podatak305" type="sIsporuka"/>
			<xsd:element name="Podatak306" type="sIsporuka"/>
			<xsd:element name="Podatak307" type="sIsporuka"/>
			<xsd:element name="Podatak308" type="sIsporuka"/>
			<xsd:element name="Podatak309" type="sIsporuka"/>
			<xsd:element name="Podatak310" type="sIsporuka"/>
			<xsd:element name="Podatak311" type="sIsporuka"/>
			<xsd:element name="Podatak312" type="sIsporuka"/>
			<xsd:element name="Podatak313" type="sIsporuka"/>
			<xsd:element name="Podatak314" type="sIsporuka"/>
			<xsd:element name="Podatak315" type="temeljni:tDecimal15-2"/>
			<xsd:element name="Podatak400" type="temeljni:tDecimal15-2"/>
			<xsd:element name="Podatak500" type="temeljni:tDecimal15-2"/>
			<xsd:element name="Podatak610" type="temeljni:tNonNegativeDecimal15-2"/>
			<xsd:element name="Podatak611" type="temeljni:tNonNegativeDecimal15-2"/>
			<xsd:element name="Podatak612" type="temeljni:tNonNegativeDecimal15-2"/>
			<xsd:element name="Podatak613" type="temeljni:tNonNegativeDecimal15-2"/>
			<xsd:element name="Podatak614" type="temeljni:tNonNegativeDecimal15-2"/>
			<xsd:element name="Podatak615" type="temeljni:tNonNegativeDecimal15-2"/>
			<xsd:element name="Podatak620" type="temeljni:tDecimal15-2"/>
			<xsd:element name="Podatak630" type="temeljni:tDecimal15-2"/>
			<xsd:element name="Podatak640" type="temeljni:tDecimal15-2"/>
			<xsd:element name="Podatak650" type="temeljni:tDecimal15-2"/>
			<xsd:element name="Podatak660" type="xsd:boolean"/>
			<xsd:sequence>
        <xsd:sequence minOccurs="0">
          <xsd:element name="Povrat" type="temeljni:tDecimal15-2"/>
          <xsd:element name="PovratIBAN" type="tIBAN" minOccurs="0" />
          <xsd:element name="Preknjizenja" minOccurs="0">
						  <xsd:complexType>
							  <xsd:sequence>
								  <xsd:element name="Stavke">
									  <xsd:complexType>
										  <xsd:sequence maxOccurs="unbounded">
											  <xsd:element name="Stavka" type="sPreknjizenjeStavka"/>
										  </xsd:sequence>
									  </xsd:complexType>
								  </xsd:element>
								  <xsd:element name="Ukupno" type="temeljni:tNonNegativeDecimal15-2"/>
							  </xsd:sequence>
						  </xsd:complexType>
					  </xsd:element>          
        </xsd:sequence>
				<xsd:element name="Predujam" type="temeljni:tDecimal15-2" minOccurs="0"/>
				<xsd:element name="UstupPovrata" type="temeljni:tDecimal15-2" minOccurs="0"/>
			</xsd:sequence>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="sPoslovniSubjekt">
		<xsd:annotation>
			<xsd:documentation>Podaci o poslovnom subjektu</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice>
				<xsd:sequence>
					<xsd:element name="Ime" type="temeljni:tOgraniceniZnakovniNizMin2Max128">
						<xsd:annotation>
							<xsd:documentation>Ime ili naziv poslovnog subjekta</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Prezime" type="temeljni:tOgraniceniZnakovniNizMin2Max128">
						<xsd:annotation>
							<xsd:documentation>Prezime poslovnog subjekta</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
				<xsd:element name="Naziv" type="temeljni:tOgraniceniZnakovniNizMin2Max128">
					<xsd:annotation>
						<xsd:documentation>Naziv poslovnog subjekta</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:element name="OIB" type="temeljni:tOIB">
				<xsd:annotation>
					<xsd:documentation>OIB poslovnog subjekta</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="sAdresa">
		<xsd:annotation>
			<xsd:documentation>Adresa</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Mjesto" type="temeljni:tOgraniceniZnakovniNizMin2Max128">
				<xsd:annotation>
					<xsd:documentation>Naziv mjesta</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Ulica" type="temeljni:tOgraniceniZnakovniNizMin2Max128">
				<xsd:annotation>
					<xsd:documentation>Naziv ulice</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Broj" type="temeljni:tAdresaBroj">
				<xsd:annotation>
					<xsd:documentation>Kućni broj</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="sObracunSastavio">
		<xsd:annotation>
			<xsd:documentation>Podaci o osobi koja je sastavila obrazac</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Ime" type="temeljni:tOgraniceniZnakovniNizMin2Max128">
				<xsd:annotation>
					<xsd:documentation>Ime osobe koja je sastavila obrazac</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Prezime" type="temeljni:tOgraniceniZnakovniNizMin2Max128">
				<xsd:annotation>
					<xsd:documentation>Prezime osobe koja je sastavila obrazac</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PoslovniSubjekt" type="sPoslovniSubjekt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Poslovni subjekt kod kojeg je zaposlena osoba koja je sastavila obrazac (samo ako je različito od poslovnog subjekta za koji se podnosi obrazac)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="sRazdoblje">
		<xsd:annotation>
			<xsd:documentation>Struktura razdoblja (vremenski period)</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="DatumOd" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>Početni datum</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DatumDo" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>Završni datum</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="sIsporuka">
		<xsd:annotation>
			<xsd:documentation>Isporuka, sadrži vrijednost i porez</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Vrijednost" type="temeljni:tDecimal15-2"/>
			<xsd:element name="Porez" type="temeljni:tDecimal15-2"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="sIsporukaNekretnina">
		<xsd:annotation>
			<xsd:documentation>Isporuka nekretnina, sadrži vrijednost i broj</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Vrijednost" type="temeljni:tNonNegativeDecimal15-2"/>
      <xsd:element name="Broj">
        <xsd:simpleType>
          <xsd:restriction base="xsd:integer">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="999999"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="tNapomena">
		<xsd:annotation>
			<xsd:documentation>Napomena (maks. 500 znakova)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="500"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="sPoslovniSubjektProsireno">
		<xsd:annotation>
			<xsd:documentation>Podaci o poslovnom subjektu, prošireno s adresom</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice>
				<xsd:sequence>
					<xsd:element name="Ime" type="temeljni:tOgraniceniZnakovniNizMin2Max128">
						<xsd:annotation>
							<xsd:documentation>Ime ili naziv poslovnog subjekta</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Prezime" type="temeljni:tOgraniceniZnakovniNizMin2Max128">
						<xsd:annotation>
							<xsd:documentation>Prezime poslovnog subjekta</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
				<xsd:element name="Naziv" type="temeljni:tOgraniceniZnakovniNizMin2Max128">
					<xsd:annotation>
						<xsd:documentation>Naziv poslovnog subjekta</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:choice>
				<xsd:element name="OIB" type="temeljni:tOIB">
					<xsd:annotation>
						<xsd:documentation>OIB poslovnog subjekta</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="PDVID" type="temeljni:tOIB">
					<xsd:annotation>
						<xsd:documentation>PDV identifikacijski broj poslovnog subjekta</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:element name="Adresa" type="sAdresa"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="sPreknjizenjeStavka">
		<xsd:sequence>
			<xsd:element name="Rbr"/>      
			<xsd:element name="VrstaPrihodaSifra">
				<xsd:simpleType>
					<xsd:restriction base="tVrstaPrihoda"/>
				</xsd:simpleType>
			</xsd:element>      
			<xsd:element name="VrstaPrihodaNaziv" type="sOgraniceniZnakovniNizMin0Max128"/>
			<xsd:element name="OpcinaSifra" type="s5digitsNullable" />   
			<xsd:element name="OpcinaNaziv" type="sOgraniceniZnakovniNizMin0Max128"/>    
			<xsd:element name="OznakaIzvjesca" type="s5digitsNullable" />     
			<xsd:element name="Iznos" type="temeljni:tNonNegativeDecimal15-2"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="sZastupnik">
		<xsd:annotation>
			<xsd:documentation>Podaci o poreznom zastupniku</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice>
				<xsd:sequence>
					<xsd:element name="Ime" type="temeljni:tOgraniceniZnakovniNizMin2Max128">
						<xsd:annotation>
							<xsd:documentation>Ime ili naziv poreznog zastupnika</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Prezime" type="temeljni:tOgraniceniZnakovniNizMin2Max128">
						<xsd:annotation>
							<xsd:documentation>Prezime poreznog zastupnika</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
				<xsd:element name="Naziv" type="temeljni:tOgraniceniZnakovniNizMin2Max128">
					<xsd:annotation>
						<xsd:documentation>Naziv poreznog zastupnika</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:choice>
				<xsd:element name="OIB" type="temeljni:tOIB">
					<xsd:annotation>
						<xsd:documentation>OIB poreznog zastupnika</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="PDVID" type="temeljni:tOIB">
					<xsd:annotation>
						<xsd:documentation>PDV identifikacijski broj poreznog zastupnika</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:element name="Adresa" type="sAdresa"/>
		</xsd:sequence>
	</xsd:complexType>
  <xsd:simpleType name="tIBAN">
    <xsd:annotation>
      <xsd:documentation>Broj računa</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="^HR[0-9]{19}$"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="tVrstaPrihoda">
		<xsd:restriction base="xsd:string">
			<xsd:length value="4"/>
			<xsd:pattern value="\d{4}"/>
		</xsd:restriction>
	</xsd:simpleType>
  <xsd:simpleType name="s5digitsNullable">
    <xsd:union>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:length value="5" />
          <xsd:pattern value="\d{5}"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:length value="0" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:union>
  </xsd:simpleType>
  <xsd:simpleType name="sOgraniceniZnakovniNizMin0Max128">
    <xsd:annotation>
      <xsd:documentation>Znakovni niz sa minimum 0 i maksimum 128 znakova</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="0"/>
      <xsd:maxLength value="128"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>
