l10n_hr_vat/wizard/shema/PPO/ObrazacPPOtipovi-v1-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://e-porezna.porezna-uprava.hr/sheme/zahtjevi/ObrazacPPO/v1-0" xmlns:meta="http://e-porezna.porezna-uprava.hr/sheme/Metapodaci/v2-0" xmlns:ispostave="http://e-porezna.porezna-uprava.hr/sheme/temeljno/SifrarnikIspostave/v2-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:temeljni="http://e-porezna.porezna-uprava.hr/sheme/TemeljniTipovi/v2-1" targetNamespace="http://e-porezna.porezna-uprava.hr/sheme/zahtjevi/ObrazacPPO/v1-0" elementFormDefault="qualified" version="1.0" id="ObrazacPPOtipovi-v1-0" xml:lang="hr-HR">
    <xsd:annotation>
        <xsd:documentation>XML shema sadrži tipove koji definiraju sadržaj PPO obrasca</xsd:documentation>
    </xsd:annotation>
    <xsd:import namespace="http://e-porezna.porezna-uprava.hr/sheme/TemeljniTipovi/v2-1" schemaLocation="TemeljniTipovi-v2-1.xsd"/>
    <xsd:import namespace="http://e-porezna.porezna-uprava.hr/sheme/Metapodaci/v2-0" schemaLocation="ObrazacPPOmetapodaci-v1-0.xsd"/>
    <xsd:complexType name="sObrazacPPO">
        <xsd:annotation>
            <xsd:documentation>Struktura PPO obrasca</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="meta:Metapodaci"/>
            <xsd:element name="Zaglavlje" type="sZaglavlje">
                <xsd:annotation>
                    <xsd:documentation>Zaglavlje obrasca</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Tijelo" type="sTijelo">
                <xsd:annotation>
                    <xsd:documentation>Tijelo obrasca</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="verzijaSheme" use="required" fixed="1.0"/>
    </xsd:complexType>
    <xsd:complexType name="sZaglavlje">
        <xsd:annotation>
            <xsd:documentation>Zaglavlje obrasca</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Razdoblje" type="sRazdoblje">
                <xsd:annotation>
                    <xsd:documentation>Razdoblje za koji se podnosi obrazac</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Obveznik" type="sPoslovniSubjektProsireno">
                <xsd:annotation>
                    <xsd:documentation>Podaci o poslovnom subjektu za koji se podnosi obrazac</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ObracunSastavio" type="sObracunSastavio">
                <xsd:annotation>
                    <xsd:documentation>Podaci o osobi koja je sastavila obrazac</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Ispostava" type="temeljni:tIspostava">
                <xsd:annotation>
                    <xsd:documentation>Ispostava u kojoj se podnosi obrazac</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Zastupnik" type="sZastupnik" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Podaci o poreznom zastupniku</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sTijelo">
        <xsd:annotation>
            <xsd:documentation>Tijelo obrasca</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Isporuke" type="sIsporuke" />
            <xsd:element name="Ukupno" type="temeljni:tDecimal15-2" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sIsporuke">
        <xsd:annotation>
            <xsd:documentation>Isporuke</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Isporuka" type="sIsporukaPodatak" minOccurs="3" maxOccurs="3"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sIsporukaPodatak">
        <xsd:annotation>
            <xsd:documentation>Isporuka</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Podaci" type="sPodaci" />
            <xsd:element name="Iznos" type="temeljni:tDecimal15-2" />
            <xsd:element name="DatumOd" type="xsd:date" />
            <xsd:element name="DatumDo" type="xsd:date" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sPodaci">
        <xsd:annotation>
            <xsd:documentation>Podaci</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Podatak" type="sPodatak" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sPodatak">
        <xsd:annotation>
            <xsd:documentation>Podatak</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="RedniBroj" type="xsd:nonNegativeInteger"/>
            <xsd:element name="OIB" type="temeljni:tOIB"/>
            <xsd:element name="Iznos" type="temeljni:tDecimal15-2"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sPoslovniSubjekt">
        <xsd:annotation>
            <xsd:documentation>Podaci o poslovnom subjektu</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:choice>
                <xsd:sequence>
                    <xsd:element name="Ime" type="temeljni:tOgraniceniZnakovniNizMin2Max128">
                        <xsd:annotation>
                            <xsd:documentation>Ime ili naziv poslovnog subjekta</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="Prezime" type="temeljni:tOgraniceniZnakovniNizMin2Max128">
                        <xsd:annotation>
                            <xsd:documentation>Prezime poslovnog subjekta</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
                <xsd:element name="Naziv" type="temeljni:tOgraniceniZnakovniNizMin2Max128">
                    <xsd:annotation>
                        <xsd:documentation>Naziv poslovnog subjekta</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:choice>
            <xsd:element name="OIB" type="temeljni:tOIB">
                <xsd:annotation>
                    <xsd:documentation>OIB poslovnog subjekta</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sAdresa">
        <xsd:annotation>
            <xsd:documentation>Adresa</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Mjesto" type="temeljni:tOgraniceniZnakovniNizMin2Max128">
                <xsd:annotation>
                    <xsd:documentation>Naziv mjesta</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Ulica" type="temeljni:tOgraniceniZnakovniNizMin2Max128">
                <xsd:annotation>
                    <xsd:documentation>Naziv ulice</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Broj" type="temeljni:tAdresaBroj">
                <xsd:annotation>
                    <xsd:documentation>Kućni broj</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sObracunSastavio">
        <xsd:annotation>
            <xsd:documentation>Podaci o osobi koja je sastavila obrazac</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Ime" type="temeljni:tOgraniceniZnakovniNizMin2Max128">
                <xsd:annotation>
                    <xsd:documentation>Ime osobe koja je sastavila obrazac</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Prezime" type="temeljni:tOgraniceniZnakovniNizMin2Max128">
                <xsd:annotation>
                    <xsd:documentation>Prezime osobe koja je sastavila obrazac</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Telefon" type="temeljni:tBrojTelefona" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Broj telefona osobe koja je sastavila obracun</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Fax" type="temeljni:tBrojTelefona" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Fax osobe koja je sastavila obracun</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Email" type="temeljni:tEmail" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Mail osobe koja je sastavila obracun</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="PoslovniSubjekt" type="sPoslovniSubjekt" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Poslovni subjekt kod kojeg je zaposlena osoba koja je sastavila obrazac (samo ako je različito od poslovnog subjekta za koji se podnosi obrazac)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sRazdoblje">
        <xsd:annotation>
            <xsd:documentation>Struktura razdoblja (vremenski period). Tromjesečje i godina nisu obavezni.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="DatumOd" type="xsd:date">
                <xsd:annotation>
                    <xsd:documentation>Početni datum. Datum mora predstavljati početak tromjesečja (1. siječanj, 1. travanj, 1. srpanj ili 1. listopad).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="DatumDo" type="xsd:date">
                <xsd:annotation>
                    <xsd:documentation>Završni datum. Datum mora predstavljati kraj tromjesečja (31. ožujak, 30. lipanj, 30. rujan ili 31. prosinac).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Tromjesecje" type="xsd:nonNegativeInteger" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Oznaka tromjesečja. Može biti 1, 2, 3 ili 4</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Godina" type="xsd:nonNegativeInteger" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Godina</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sIsporuka">
        <xsd:annotation>
            <xsd:documentation>Isporuka, sadrži vrijednost i porez</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Vrijednost" type="temeljni:tDecimal15-2"/>
            <xsd:element name="Porez" type="temeljni:tDecimal15-2"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sPoslovniSubjektProsireno">
        <xsd:annotation>
            <xsd:documentation>Podaci o poslovnom subjektu, prošireno s adresom</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:choice>
                <xsd:sequence>
                    <xsd:element name="Ime" type="temeljni:tOgraniceniZnakovniNizMin2Max128">
                        <xsd:annotation>
                            <xsd:documentation>Ime ili naziv poslovnog subjekta</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="Prezime" type="temeljni:tOgraniceniZnakovniNizMin2Max128">
                        <xsd:annotation>
                            <xsd:documentation>Prezime poslovnog subjekta</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
                <xsd:element name="Naziv" type="temeljni:tOgraniceniZnakovniNizMin2Max128">
                    <xsd:annotation>
                        <xsd:documentation>Naziv poslovnog subjekta</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:choice>
            <xsd:choice>
                <xsd:element name="OIB" type="temeljni:tOIB">
                    <xsd:annotation>
                        <xsd:documentation>OIB poslovnog subjekta</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="PPOID" type="temeljni:tOIB">
                    <xsd:annotation>
                        <xsd:documentation>PPO identifikacijski broj poslovnog subjekta</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:choice>
            <xsd:element name="Adresa" type="sAdresa"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sZastupnik">
        <xsd:annotation>
            <xsd:documentation>Podaci o poreznom zastupniku</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:choice>
                <xsd:sequence>
                    <xsd:element name="Ime" type="temeljni:tOgraniceniZnakovniNizMin2Max128">
                        <xsd:annotation>
                            <xsd:documentation>Ime ili naziv poreznog zastupnika</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="Prezime" type="temeljni:tOgraniceniZnakovniNizMin2Max128">
                        <xsd:annotation>
                            <xsd:documentation>Prezime poreznog zastupnika</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
                <xsd:element name="Naziv" type="temeljni:tOgraniceniZnakovniNizMin2Max128">
                    <xsd:annotation>
                        <xsd:documentation>Naziv poreznog zastupnika</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:choice>
            <xsd:choice>
                <xsd:element name="OIB" type="temeljni:tOIB">
                    <xsd:annotation>
                        <xsd:documentation>OIB poreznog zastupnika</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="PPOID" type="temeljni:tOIB">
                    <xsd:annotation>
                        <xsd:documentation>PPO identifikacijski broj poreznog zastupnika</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:choice>
            <xsd:element name="Adresa" type="sAdresa"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
